<h1>Productos</h1>

<p>Selecciona el alimento que deseas comprar hoy :)</p>

<table>
  <thead>
    <th>Producto</th>
    <th>Descripcion</th>
    <th>Categoria</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Imagen</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.category %></td>
      <td><%= product.price %></td>
      <td><%= product.stock %></td>
      <td><%= product.image %></td>
    </tr>
    <% end %>
  </tbody>
</table>