<h1><%= @product.name %></h1>

<div>
  <p><%= @product.description %></p>
  <p><%= @product.category %></p>
  <p><%= @product.price %></p>
  <p><%= @product.stock %></p>
  <p><%= @product.image %></p>
</div>